.whiteBackgroundColor{
    background: #FFFFFF;
}

.folderBackgroundColor {
    background: #FCD462FF;
}

.folderBackgroundColorDark {
    background: #e0bc56;
}

.activeBackgroundColor{
    background: #6567E9FF;
}

.activeBackgroundColorDark{
    background: #5758c5;
}

.folderBorderColor {
    border-color: #FCD462FF;
}

.activeBorderColor{
    border-color: #6567E9FF;
}

.whiteBorderColor{
    border-color: #FFFFFF;
}

.whiteTextColor{
    color: #FFFFFF;
}

.blackTextColor{
    color: #000000;
}

.blueTextColor{
    color: #393ab2;
}